@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background-color: #000000;
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  text-decoration-line: none;
  list-style: none;
}

/*------------- Header-------------- */

.header-overlay {
  position: relative;
  background: url("./assets/background.jpg") no-repeat center/cover;
  height: 100vh;
}
.header-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.651);
  z-index: 2;
}
.header-overlay > * {
  position: relative;
  z-index: 3;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  gap: 20%;
}

header nav img[alt="logo"] {
  width: 200px;
  filter: contrast(10);
}

/* -----Navigation Bar------ */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100px;
}
.nav-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang-dropdown-btn {
  padding: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.lang-dropdown-btn img {
  filter: invert(1);
}
.lang-dropdown-btn span {
  margin: 0 5px;
}

.nav-info .sign-in-btn {
  padding: 10px 25px;
  background-color: red;
  color: #fff;
  border: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
}
.nav-info .sign-in-btn:hover {
  background-color: #a42323;
}

/* ------- Main Header--------- */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.main-header h1 {
  text-align: center;
  font-size: 56px;
  line-height: 70px;
}
.main-header h3 {
  font-size: 20px;
  font-weight: bold;
}
.main-header p {
  font-size: 18px;
  margin-top: 25px;
  line-height: 2;
}

.get-started,
.membership-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}
.get-started button,
.membership-input button {
  display: flex;
  align-items: center;
  padding: 9px 11px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
  transition: all 0.3s;
}
.get-started button:hover {
  background-color: #a42323;
}
.membership-input button:hover {
  background-color: #a42323;
}
.get-started button img,
.membership-input img {
  filter: invert(1);
}
.main-header .get-started input {
  background-color: #1e1e1ea0;
  border: 1px solid #ccc;
  padding: 10px 10px;
  width: 450px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

/* ----------- Divider-------------- */
.divider {
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}

/* --------- Trending Now / More Reasons To Join ------------ */

.trending-now,
.reason-to-join,
.f-a-q {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  padding: 0 40px;
  margin: 50px auto;
}

.td-heading,
.feature-heading,
.faq-heading {
  margin: 20px 0;
}
.trending-now td.heading h2,
.reason-to-join .feature-heading h2,
.faq-heading h2 {
  font-size: 25px;
  font-weight: 600;
}

.trending-box-cards-container {
  width: 100%;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
.trend-box {
  width: 180px;
  height: 252px;
  position: relative;

  transition: all 0.4s;
  cursor: pointer;
}
.trend-box:hover {
  transform: scale(1.11);
}

.card-1 {
  background-image: url(./assets/t1.webp);
  border-radius: 8px;
  background-position: center;
}
.card-2 {
  background-image: url(./assets/t2.webp);
  background-position: center;
  border-radius: 8px;
}
.card-3 {
  background-image: url(./assets/t3.webp);
  border-radius: 8px;
  background-position: center;
}
.card-4 {
  background-image: url(./assets/t4.webp);
  border-radius: 8px;
  background-position: center;
}
.card-5 {
  background-image: url(./assets/t5.webp);
  border-radius: 8px;
  background-position: center;
}

.trend-box .num {
  color: #000000;
  font-weight: bolder;
  font-size: 100px;
  -webkit-text-stroke: 2px #ffffff;
  position: absolute;
  bottom: -16px;
  left: -21px;
}

/* ------------- More Reasons To Join-------------- */
.feature-box-cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.feature-card {
  width: 250px;
  height: 300px;
  position: relative;
  background: linear-gradient(to bottom, #071855, #28142d);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  /* align-items: flex-start;
  justify-content: space-around; */
}
.feature-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.feature-card p {
  font-size: 16px;
  color: #a2a1a1c8;
  font-weight: bold;
}
.feature-card img {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* ---------- Frequently Asked Questions --------------*/
.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
}
.questions {
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.questions:hover {
  background-color: #4e4c4c;
}
.questions p {
  font-size: 22px;
  font-weight: 500;
}
.questions img {
  filter: invert(1);
}

/* ------- Membership -------- */
.membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.membership p {
  font-size: 18px;
  margin-top: 25px;
  line-height: 2;
}

.membership-input {
  width: 100%;
}
.membership-input input {
  background-color: #1e1e1ea0;
  border: 1px solid #ccc;
  padding: 10px 10px;
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

/* ----------- Footer -------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  padding: 0 40px;
  margin: 50px auto;
  gap: 15px;
  color: #a7a4a4;
}
footer a {
  color: #ffffffb3;
}
footer a:hover {
  text-decoration: underline;
  color: #fff;
}
footer h3 {
  color: #a7a4a4;
}

/* Footer links */
.footer-links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-links .links {
  max-width: 200px;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .lang-dropdown-btn {
  margin: 40px 0;
}
